
.jeu{
    flex-grow: 1;
    margin:5%;
    border-radius: 10px;
    box-shadow: 0px -5px 1000px var(--violetClair);
    background-color: var(--violetClair);
    /* border-top: 4mm solid white; */
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.fenetreJeu{
    border-radius: 5px;
    width: 90%;
    aspect-ratio: 16/9;
    background-color: var(--violetPastel);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

.gameFooter
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width:90%;
    background-color: var(--violet);    
    column-gap: 20%;
}

.gameFooter span{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;

    color : white;
    
}



.button{
    
    font-size: 2em;
    min-width: 120px;
   
    

    position: absolute;
    
    
    border-radius: 5px;
    color: var(--violetClair);
    background-color: white;
    width: 10%;
    padding: 1%;
    text-align: center;
    font-family: 'Roseberry';
    transition:all 0.1s ease-in-out;

    cursor:pointer;
}

#CB_Canvas{
    width: 100%;
    height: 100%;
    background-color: var(--violetClair);
    display: block; 
    margin: 0 auto;
}

#SN_Canvas{
    width: 100%;
    height: 100%;
    background-color: var(--violetPastel);
    display: block; 
    margin: 0 auto;
}


#secret{
    color: var(--violet);
    z-index: 10;
}



#secret:hover{
    cursor: help;
}


#more .fenetreJeu.inactive{
    display: none;
    transition: 0.2s ease-in-out;
    opacity: 0;
}

#more .fenetreJeu.active{
    display: block;
    transition: 0.2s ease-in-out;   
    opacity: 1;
}