#more{
    background-color: var(--violet);


    height: 1000px;

    overflow: hidden;

    display: flex;
}

#blocMore1{
    background-color: var(--violet);
    width: 40%;
    height: 100%;


    justify-self: start;
}

#blocMore2{
    background-color: var(--violetClair);
    width: 60%;
    height: 40%;

    justify-self: end
}

.titreMore{
    font-family: 'poppins-extra-bold';
    color : white;
    height: 20vh;
    margin:10%;
    text-transform: uppercase;
    font-size: 3em;
}

