#more{
    background-color: var(--violet);
    z-index: 20;
    height: 1000px;

    overflow: hidden;
    position: relative;
    display: flex;
}

#blocMore1{
    background-color: var(--violet);
    width: 40%;
    height: 100%;


    justify-self: start;
}

#blocMore2{
    background-color: var(--violetClair);
    width: 60%;
    height: 40%;

    justify-self: end
}

.titreMore{
    font-family: 'poppins-extra-bold';
    color : white;
    height: 15vh;
    
    text-transform: uppercase;
    font-size: 4em;
}

#left{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 40%;
}


.txtMoreLeft{
    font-family: 'poppins-semi-bold';
    color: var(--violetPastel);
    font-size: 1.2em;
}

.txtMoreRight{
    font-family: 'poppins-semi-bold';
    color: var(--violetFoncee);
}

