
/*
Pallette
Plus foncé au plus clair

#242170
#8A85FF
#A19DFF
#e0deff
*/

:root{
    --violetPastel:#e0deff;
    --violetClair:#A19DFF;
    --violet:#8A85FF;
    --violetFoncee:#242170;
    --violetFonceeDesature:#2c2b3a;
    --violetQuiClaque:#3700ff;
    --violetFooter:#736ef7;
    --bleuLien: #5b5cc2;
    
    --animationSpeedLink:0.2s;
}



html{
    background-color: var(--violetPastel);
    height: 100%;
    overflow-x: hidden; 
}

body{
    background-color: var(--violetPastel);
}


#navWrapper{
    top: 30px;
    right: 30px;
    position: fixed;
    display:flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2vw; 
}


#navWrapper div{
    width: 7vw;
    font-size: 1vw;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px; 
    transition: 0.1s ease-in-out;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    
}

#navWrapper div:hover{
   transition: 0.2s ease-in-out;
    color: white;
    transform: scale(105%);
}

#navWrapper div a{
    transition: 0.2s ease-in-out;
}

#navWrapper div:hover a {
    transition: 0.2s ease-in-out;
    color: var(--violetClair);
}



.nav{
    text-transform: uppercase;
    font-family: 'poppins-extra-bold';
    font-size: 1.1em;
    color: var(--violetFoncee);
    text-decoration: none;
    z-index: 20;
    
}

/* fonts */
/*
@font-face {
    font-family: Mortend;
    src: url(../Fonts/Mortend\ Bold.otf);
}

@font-face {
    font-family: Perform;
    src: url(../Fonts/PERFORM\ GENERIC\ Regular.otf);
}
*/
@font-face {
    font-family: RoseBerry;
    src: url(../Fonts/Roseberry.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../Fonts/poppins/Poppins-Regular.ttf);
    
}

@font-face {
    font-family: poppins-semi-bold;
    src: url(../Fonts/poppins/Poppins-SemiBold.ttf);
    

}

@font-face {
    font-family: poppins-bold;
    src: url(../Fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-extra-bold;
    src: url(../Fonts/poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppins-black;
    src: url(../Fonts/poppins/Poppins-Black.ttf);
}







/* nav{
    background-color: white;
    position: fixed;
    display: flex;
    padding: 10px;
    width: 100%;
    top: 0px;
    z-index: 10;
    align-items: center;
} */

/* Icone */
.icon img{
    width: 50px;



    transition:all 0.1s linear;
    /* filter: saturate(-3) hue-rotate(180deg); */
}

.icon img:hover{
    transition:all 0.1s linear;
    transform: scale(120%);

}

.icon{
    
    position: fixed;
    top: 20px;
    /* background-color: white; */
    /* border-radius: 5px; */
    cursor: pointer;

}

/*
.icon img{
    filter: invert(10%) sepia(35%) saturate(6868%) hue-rotate(240deg) brightness(95%) contrast(95%);
}
*/


#PzIcon{
    left: 20px;
}

#PzIcon a{
    display: block;
    height: 50px;
    width: 50px;
}

#darkModeIcon{
   right: 80px;
}






/* STYLE DES LETTRES */
#lettres{
    
    margin-top:13vh;
    margin-bottom: 5vh;
    margin-left: 3vh;
    margin-right: 3vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

#lettres img{
    cursor:grab;
    margin: 2%;
    height: 8%;
    
    display: block;
    overflow: hidden;

    animation: lettreIntro 0.9s backwards;
    transition:all 0.3s linear;
}

/*monte la lettre quand on passe la souris*/
#lettres img:hover{
    transition:all 0.1s linear;
    transform: scale(120%) translateY(-8%);
}

#lettres img:active{
    cursor:grabbing;
    transition:all 0.1s ease-in-out;
    transform: scale(100%);
}

@keyframes lettreIntro {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


/* Texte intro */
.txtIntro{

    cursor:default;
 
    font-family: 'Poppins-semi-bold';
    font-weight:normal;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 1.5em;

    
    color: var(--violetFonceeDesature);

    margin: auto;
    

    animation: txtIntroAnim 0.8s both 1s;
    transition:all 0.1s linear;    
}



p{
    font-family: 'poppins';
    
}



@keyframes txtIntroAnim {
    from{
        opacity: 0;
        /* transform: translateX(-100%); */
    }
    to{
        opacity: 1;
        /* transform: translateX(0); */
    }
    
}

#salut{ 
    font-size: 3rem;
    font-family: 'Poppins-extra-bold';
    text-transform: uppercase;
    color: var(--violet);
    margin-bottom: 0.5%;
}


.txtIntro b{
    color: var(--violetFoncee);

}



#fleche{
    width: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#txtBoxWrapper{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

/* text boxes*/
.txtBox{
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    margin: 5%;
    margin-top: 2%;
    max-width: 1500px;
    

    padding: 2%;
}

.txtBox .txt{
    text-align: center;
    font-size: 2rem;
    color: white;
    overflow-wrap: break-word;
    font-family: 'Perform';
    font-family: 'Roseberry';
}

.txt{
    margin: 1%;
}

#liens{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2vh;
    

    
}

.link-wrapper{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    transition:all var(--animationSpeedLink) linear;
    animation: txtIntroAnim 0.8s both 1s;
}

.link-wrapper a{

    font-family: 'Poppins-extra-bold';
   

    text-align: center;
    text-transform:uppercase;

    
    transition:all var(--animationSpeedLink) linear;

    margin: auto;
    

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--violetFoncee);
   
    overflow-wrap: break-word;

    text-decoration: none;
}

.link-wrapper:hover{
    transition:all var(--animationSpeedLink) linear;
    transform: scale(100%); 

}

.link-wrapper:hover a{
    color:var(--bleuLien);

}


.link-wrapper:after{
    content:"";
    position: absolute;
    background-color: var(--bleuLien);
    height:5px;
    width:0;
    left:0;
    bottom: -5px;
    transition: var(--animationSpeedLink);
}



.link-wrapper:hover:after{
    width: 100%;
    transition: var(--animationSpeedLink);
}

body{
    margin: 0;
}



footer{
    background-color: var(--violet);
    height: 100px;
}

footer div{
    font-family: 'poppins-semi-bold';
    color: white;
}

@media screen and (max-width: 800px) {
    #more{
        flex-direction: column;
        
    }

    #blocMore1{
        width: 100%;
        height: 40%;
        border-radius: 0px;
    }

    #blocMore2
    {
        width: 100%;
        height: 30%;
        border-radius: 0px;
    }

    #salut{ 
        font-size: 1.5rem;
    }

    .txtIntro{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.1em; 
    }

    
    .link-wrapper a{
        
        font-size: 1.1rem;
        
    }
  }




/* .txtIntro::selection{
    background-color: rgb(89, 255, 241);
} */


