
/*
Pallette
Plus foncé au plus clair

#242170
#8A85FF
#A19DFF
#e0deff
*/

:root{
    --violetPastel:#e0deff;
    --violetClair:#A19DFF;
    --violet:#8A85FF;
    --violetFoncee:#242170;
    --violetFonceeDesature:#2c2b3a;
    --violetQuiClaque:#3700ff;
    --violetFooter:#736ef7;
    --bleuLien: #5b5cc2;
    
    --animationSpeedLink:0.2s;
}



html{
    background-color: var(--violetPastel);
    height: 100%;
    overflow-x: hidden; 
}

body{
    background-color: var(--violetPastel);
}



/* fonts */

@font-face {
    font-family: Mortend;
    src: url(../Fonts/Mortend\ Bold.otf);
}

@font-face {
    font-family: Perform;
    src: url(../Fonts/PERFORM\ GENERIC\ Regular.otf);
}

@font-face {
    font-family: Roseberry;
    src: url(../Fonts/Roseberry.ttf);
}

/* Icone */
#icon img{
    width: 60px;
    margin-top: 2%;
    margin-left: 2%;
    transition:all 0.1s linear;
    /* filter: saturate(-3) hue-rotate(180deg); */
}

#icon img:hover{
    transition:all 0.1s linear;
    transform: scale(120%)
}



/* STYLE DES LETTRES */
#lettres{
    
    margin-top: 3vh;
    margin-bottom: 6vh;
    margin-left: 5vh;
    margin-right: 5vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

#lettres img{
    cursor:grab;
    margin: 2%;
    height: 8%;
    
    display: block;
    overflow: hidden;

    animation: lettreIntro 0.9s backwards;
    transition:all 0.3s linear;
}

/*monte la lettre quand on passe la souris*/
#lettres img:hover{
    transition:all 0.1s linear;
    transform: scale(120%) translateY(-8%);
}

#lettres img:active{
    cursor:grabbing;
    transition:all 0.1s ease-in-out;
    transform: scale(100%);
}

@keyframes lettreIntro {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


/* Texte intro */
.txtIntro{

    cursor:default;
    font-family: 'Perform';
    font-family: 'Mortend';
    font-family: 'Roseberry';

    text-align: center;
    text-transform:uppercase;

    animation: txtIntroAnim 0.8s both 1s;
    transition:all 0.1s linear;

    margin: auto;

    font-size: 2.5em;
    color: var(--violet);
    overflow-wrap: break-word;
}



p{
    font-family: 'Roseberry';
}



@keyframes txtIntroAnim {
    from{
        opacity: 0;
        /* transform: translateX(-100%); */
    }
    to{
        opacity: 1;
        /* transform: translateX(0); */
    }
    
}

#salut{ 
    font-size: 4rem;
    
}


.txtIntro b{
    color: var(--violetFoncee)
}



#fleche{
    width: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#txtBoxWrapper{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

/* text boxes*/
.txtBox{
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    margin: 5%;
    margin-top: 2%;
    max-width: 1500px;
    

    padding: 2%;
}

.txtBox .txt{
    text-align: center;
    font-size: 2rem;
    color: white;
    overflow-wrap: break-word;
    font-family: 'Perform';
    font-family: 'Roseberry';
}

.txt{
    margin: 1%;
}

#liens{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2vh;

    
}

.link-wrapper{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    transition:all var(--animationSpeedLink) linear;
    animation: txtIntroAnim 0.8s both 1s;
}

.link-wrapper a{
    font-family: 'Roseberry';

    text-align: center;
    text-transform:uppercase;

    
    transition:all var(--animationSpeedLink) linear;

    margin: auto;
    

    font-size: 2rem;
    font-weight: bold;
    color: var(--violetFoncee);
   
    overflow-wrap: break-word;

    text-decoration: none;
}

.link-wrapper:hover{
    transition:all var(--animationSpeedLink) linear;
    transform: scale(100%); 

}

.link-wrapper:hover a{
    color:var(--bleuLien);

}


.link-wrapper:after{
    content:"";
    position: absolute;
    background-color: var(--bleuLien);
    height:5px;
    width:0;
    left:0;
    bottom: -5px;
    transition: var(--animationSpeedLink);
}



.link-wrapper:hover:after{
    width: 100%;
    transition: var(--animationSpeedLink);
}

body{
    margin: 0;
}





/* .txtIntro::selection{
    background-color: rgb(89, 255, 241);
} */


